body {
  background: white url(../images/sideshot-bg-big.jpg) top right no-repeat fixed;
  background-size: contain;
  font: 13.34px Helvetica, Arial, sans-serif;
  font-size: small;
  color: white;
  text-align: left;
}

.site {
  margin: 35px 0 auto 35px;
}

/* nav */
.site .header a.extra {
  color: #888;
  font-size: 180%;
  margin-left: 0;
  margin-right: 20px;
  font-family: 'Domine', serif;

}

.title a {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  border-bottom: 16px solid #444;
}

a         { color: #000; }
a:hover   { color: #ccc; }
a:visited { color: #000; }

.logo {
  width:80%;
}